/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@media only screen {
  body {
    display: flex;
    justify-content: center; }
    body > * {
      background-color: #ffffff;
      max-width: 1170px; }
    body .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .row > * {
        flex: 0 1 auto; }
      body .row .small-1 {
        flex: 0 0 calc((100% - (11 * 30px)) / 12); }
      body .row .small-2 {
        flex: 0 0 calc((100% - (5 * 30px)) / 6); }
      body .row .small-3 {
        flex: 0 0 calc((100% - (3 * 30px)) / 4); }
      body .row .small-4 {
        flex: 0 0 calc((100% - (2 * 30px)) / 3); }
      body .row .small-5 {
        flex: 0 0 41.66%; }
      body .row .small-6 {
        flex: 0 0 calc((100% - (1 * 30px)) / 2); }
      body .row .small-7 {
        flex: 0 0 58.33%; }
      body .row .small-8 {
        flex: 0 0 66.66%; }
      body .row .small-9 {
        flex: 0 0 75%; }
      body .row .small-10 {
        flex: 0 0 83.33%; }
      body .row .small-11 {
        flex: 0 0 91.66%; }
      body .row .small-12 {
        flex: 0 0 100%; } }

/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 1025px, large screens */
@media only screen and (min-width: 40.063em) and (max-width: 90em) {
  body .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    body .row > * {
      flex: 0 1 auto; }
    body .row .large-1 {
      flex: 0 0 calc((100% - (11 * 30px)) / 12); }
    body .row .large-2 {
      flex: 0 0 calc((100% - (5 * 30px)) / 6); }
    body .row .large-3 {
      flex: 0 0 calc((100% - (3 * 30px)) / 4); }
    body .row .large-4 {
      flex: 0 0 calc((100% - (2 * 30px)) / 3); }
    body .row .large-5 {
      flex: 0 0 calc(41.66% - 30px); }
    body .row .large-6 {
      flex: 0 0 calc((100% - (1 * 30px)) / 2); }
    body .row .large-7 {
      flex: 0 0 calc(58.33% - 30px); }
    body .row .large-8 {
      flex: 0 0 calc(66.66% - 30px); }
    body .row .large-9 {
      flex: 0 0 calc(75% - 30px); }
    body .row .large-10 {
      flex: 0 0 calc(83.33% - 30px); }
    body .row .large-11 {
      flex: 0 0 calc(91.66% - 30px); }
    body .row .large-12 {
      flex: 0 0 100%; } }

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
body {
  font-size: 0.750rem;
  font-family: "Arial", sans-serif;
  color: #7e7f84;
  line-height: 1.3; }

a,
a:active,
a:visited {
  color: #7e7f84;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 3.75rem; }

h2 {
  font-size: 1.375rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 0.875rem; }

h6 {
  font-family: "PT Sans", sans-serif;
  color: #ffffff; }

.main-nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase; }

#blog h2 {
  color: #f45a40; }

#newsletter,
footer h2 {
  color: #ffffff; }

footer p,
h6 {
  font-size: 0.875rem; }

.shoe-price {
  color: #f45a40;
  font-size: 0.875rem; }

.shoe-buy a {
  color: #ffffff;
  font-size: 0.875rem; }

.popular {
  text-align: center;
  margin-top: 4rem; }

* {
  box-sizing: border-box; }

@media only screen {
  ul > li {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  header .row {
    align-items: center; }
    header .row:last-of-type {
      border-top: 1px solid #ededed;
      border-bottom: 3px double #f45a40; }
  header .header-info {
    margin: 1.5rem 0; }
  header .navigation {
    padding: 0.875rem 0; }
    header .navigation .main-nav ul li a {
      padding-right: 2rem;
      display: inline-block; }
    header .navigation input {
      border: 0; }
  #hero .row {
    color: #ffffff;
    min-height: 100vh;
    background: url("../img/hero.jpg") no-repeat center center;
    background-size: cover;
    align-items: center; }
  #hero .row div {
    padding: 2.5rem 5rem 1rem;
    background-color: rgba(0, 0, 0, 0.7); }
  .article img,
  .shoe-header img {
    width: 100%; }
  #blog .row > div {
    margin-top: 100px; }
  #products {
    margin-top: 1.250rem; }
    #products .shoe-item {
      margin-top: 1.875rem; }
      #products .shoe-item .shoe-header {
        border: 1px solid #ededed;
        padding: 0.875rem; }
      #products .shoe-item .shoe-content {
        padding: 1.250rem;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        border-bottom: 1px solid #ededed; }
        #products .shoe-item .shoe-content .shoe-details {
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #ededed;
          margin-top: 0.625rem;
          padding-top: 0.750rem; }
      #products .shoe-item .shoe-buy {
        background-color: #f45a40; }
        #products .shoe-item .shoe-buy a {
          text-transform: uppercase;
          text-align: center;
          line-height: 3rem;
          width: 100%;
          display: block; }
        #products .shoe-item .shoe-buy a:hover {
          background-color: #ff674f; }
  #newsletter {
    margin-top: 2.125rem;
    background-color: #f45a40;
    padding: 2rem 0; }
    #newsletter .row {
      align-items: center; }
    #newsletter button {
      background-color: #ff674f;
      color: #ffffff; }
    #newsletter button,
    #newsletter input {
      line-height: 3;
      border: 0;
      text-transform: uppercase;
      padding: 0 1rem; }
  footer {
    padding: 1.5rem 0;
    background-color: #2a2d34; }
    footer h2 {
      margin-bottom: 1.250rem; }
    footer .blog-entry {
      margin-bottom: 1.750rem; } }

/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
