/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 0.750rem;
  font-family: "Arial", sans-serif;
  color: #7e7f84;
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase; }

h1 {
  font-size: 3.75rem; }

h2 {
  font-size: 1.375rem; }

#blog h2 {
  color: #f45a40; }

#newsletter, footer h2 {
  color: #ffffff; }

footer p, h6 {
  font-size: 0.875rem; }

* {
  box-sizing: border-box; }

@media only screen {
  body {
    display: flex;
    justify-content: center; }
    body > * {
      background-color: #ffffff;
      max-width: 1170px; }
    body .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .row > * {
        flex: 0 1 auto; }
      body .row .small-1 {
        flex: 0 0 calc((100% - (11 * 30px)) / 12); }
      body .row .small-2 {
        flex: 0 0 calc((100% - (5 * 30px)) / 6); }
      body .row .small-3 {
        flex: 0 0 calc((100% - (3 * 30px)) / 4); }
      body .row .small-4 {
        flex: 0 0 calc((100% - (2 * 30px)) / 3); }
      body .row .small-5 {
        flex: 0 0 41.66%; }
      body .row .small-6 {
        flex: 0 0 calc((100% - (1 * 30px)) / 2); }
      body .row .small-7 {
        flex: 0 0 58.33%; }
      body .row .small-8 {
        flex: 0 0 66.66%; }
      body .row .small-9 {
        flex: 0 0 75%; }
      body .row .small-10 {
        flex: 0 0 83.33%; }
      body .row .small-11 {
        flex: 0 0 91.66%; }
      body .row .small-12 {
        flex: 0 0 100%; }
  #hero {
    color: #ffffff;
    height: 100vh;
    background: url("../img/hero.jpg"); }
    #hero div {
      background-color: rgba(42, 45, 52, 0.8); }
  .article img,
  .shoe-header img {
    width: 100%; }
  .shoe-header {
    border: 1px solid #ededed; }
  .shoe-content {
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed; }
  #blog {
    margin-top: 87px; }
  .shoe-buy {
    background-color: #f45a40; }
  #newsletter {
    margin-top: 35px;
    background-color: #f45a40; }
  footer {
    background-color: #2a2d34; } }

/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* min-width 1025px, large screens */
@media only screen and (min-width: 40.063em) and (max-width: 90em) {
  body .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    body .row > * {
      flex: 0 1 auto; }
    body .row .large-1 {
      flex: 0 0 calc((100% - (11 * 30px)) / 12); }
    body .row .large-2 {
      flex: 0 0 calc((100% - (5 * 30px)) / 6); }
    body .row .large-3 {
      flex: 0 0 calc((100% - (3 * 30px)) / 4); }
    body .row .large-4 {
      flex: 0 0 calc((100% - (2 * 30px)) / 3); }
    body .row .large-5 {
      flex: 0 0 calc(41.66% - 30px); }
    body .row .large-6 {
      flex: 0 0 calc((100% - (1 * 30px)) / 2); }
    body .row .large-7 {
      flex: 0 0 calc(58.33% - 30px); }
    body .row .large-8 {
      flex: 0 0 calc(66.66% - 30px); }
    body .row .large-9 {
      flex: 0 0 calc(75% - 30px); }
    body .row .large-10 {
      flex: 0 0 calc(83.33% - 30px); }
    body .row .large-11 {
      flex: 0 0 calc(91.66% - 30px); }
    body .row .large-12 {
      flex: 0 0 100%; } }

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
