<div class="wrapper-full wrapper-dark">
  <footer class="wrapper">
    <div class="row">
      <div class="small-12 large-3">
        <h2>Our Stores</h2>
        <p>Feel free to visit our stores or contact us.</p>
        <br>
        <p>Vinegade 109<br> 5000 <br>Odense</p>
        <br>
        <p>Vestergade 910 <br>
          9000 Aalborg <br>
          96819191 </p>
        <br>
        <ul>
          <li><a href="">f</a></li>
          <li><a href="">t</a></li>
          <li><a href="">g</a></li>
          <li><a href="">v</a></li>
          <li><a href="">r</a></li>
        </ul>
      </div>
      <div class="small-12 large-4">
        <h2>Blog posts</h2>
        <div class="blog-entry">
          <h6>Lorem ipsum hey</h6>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p>
        </div>

        <div class="blog-entry">
          <h6>New sexy sport clothes are here!</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p>
        </div>

        <div class="blog-entry">
          <h6>Summer sales are coming!</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit. </p>
        </div>
      </div>
      <div class="small-12 large-5">
        <h2>Support</h2>
        <div class="row">
          <div class="small-6 large-6">
            <div class="">
              <ul class="li"><a href="">Terms & Conditions</a></ul>
              <ul class="li"><a href="">FAQ</a></ul>
              <ul class="li"><a href="">Payment</a></ul>
              <ul class="li"><a href="">Refunds</a></ul>
              <ul class="li"><a href="">Track Order</a></ul>
              <ul class="li"><a href="">Services</a></ul>
              <ul class="li"><a href="">Privacy & Security</a></ul>
              <ul class="li"><a href="">Careers</a></ul>
              <ul class="li"><a href="">Press</a></ul>
              <ul class="li"><a href="">Corporate Information</a></ul>
            </div>
          </div>
          <div class="small-6 large-6">
            <div class="">
              <ul class="li"><a href="">Sizing</a></ul>
              <ul class="li"><a href="">Ordering</a></ul>
              <ul class="li"><a href="">Shipping</a></ul>
              <ul class="li"><a href="">Return Policy</a></ul>
              <ul class="li"><a href="">Affiliates</a></ul>
              <ul class="li"><a href="">Find A Store</a></ul>
              <ul class="li"><a href="">Site Map</a></ul>
              <ul class="li"><a href="">Sign Up & Save</a></ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
