<section id="hero">
  <div class="row">
    <div class="small-8 large-6">
      <h1>Right is pink. <br> Left is blue</h1>
      <p>Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.</p>
      <button type="submit">Submit</button>
    </div>
  </div>
</section>

<div class="wrapper-full">
		<div class="main wrapper">
<section id="blog">
				<div class="row ">
					<div class="small-12 large-4 columns">
						<div class="article">
							<img src="app/assets/img/shoes.jpg" alt="SHOE">
						</div>
						<div>
							<h2>Football Shoes</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque modi magni.</p>
						</div>
					</div>
					<div class="small-12 large-4 columns">
						<div class="article">
							<img src="app/assets/img/clothes.jpg" alt="SHOE">
						</div>
						<div>
							<h2>Football Shoes</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque modi magni.</p>
						</div>
					</div>
					<div class="small-12 large-4 columns">
						<div class="article">
							<img src="app/assets/img/bag.jpg" alt="SHOE">
						</div>
						<div>
							<h2>Football Shoes</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque modi magni.</p>
						</div>
					</div>
				</div>
			</section>


			<div class="row">
				<div class="small-12">
					<h2 class="popular">Popular products</h2></div>
			</div>

    </div>
  </div>
  
