<div class="wrapper-full wrapper-red">
  <section id="newsletter" class="wrapper ">
    <div class="row">
      <div class="small-12 large-6 columns newsletter-text">
        <h2>Sign up for exclusive sales and product news</h2>
      </div>
      <div class="small-12 large-6 columns newsletter-input">
        <form action="">
          <input type="text" name="" value="" placeholder="lorem@ipsum.hu">
          <button type="button" name="button">Sign Up</button>
        </form>
      </div>
    </div>
  </section>
</div>
