<!--<section class="recipe-list">
<div *ngFor="let recipe of recipes" [class.featured]="recipe.isfeatured">
    <img [src]="recipe.image" />
    <h2>{{recipe.name}}</h2>
    <p>{{recipe.type}}</p>
    <p>{{recipe.description}}</p>
 <button (click)="likeRecipe(recipe)">Like recipe</button> {{recipe.likes}}
    <a [routerLink]="['/product', recipe.id]">View recipe details</a>
</div>
</section>-->
<site-hero></site-hero>
<div class="wrapper-full">
  <div class="main wrapper">
    <section id="products">
      <div class="row shoe-collapse">
        <div class="small-12 large-3" *ngFor="let recipe of recipes">
          <div class="shoe-item">
            <div class="shoe-header">
              <span class="rating"></span>
              <img [src]="recipe.image" alt="asics running shoe" />
            </div>
            <div class="shoe-content">
              <div class="shoe-desc">
                <h3>{{recipe.name}}</h3>
                <h4>{{recipe.type}}</h4>
                <p>{{recipe.description}}</p>
                <div class="shoe-details">
                  <div>
                    <p class="shoe-price">$ {{recipe.price}}</p>
                  </div>
                  <div>
                    <a href=""><i class="fa fa-heart-o fa-lg"></i></a>
                    <a href=""><i class="fa fa-plus-square-o fa-lg"></i></a>

                  </div>
                </div>
              </div>
            </div>
            <div class="shoe-buy"><a href="#" class="shoe-buy_now" [routerLink]="['/product', recipe.id]">Buy Now</a></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
