@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$body-font: 'Arial', sans-serif;
$headline-font: 'PT Sans', sans-serif;

body{
  font-size: 0.750rem;
  font-family: $body-font;
  color: $grey;
  line-height: 1.3;
}

h1,h2,h3,h4,h5,h6{
  font-family: $headline-font;
  text-transform: uppercase;
}

h1{
  font-size: 3.75rem;
}

h2{
  font-size: 1.375rem;
}

#blog h2{
  color: $red;
}

#newsletter, footer h2{
  color: $white;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

footer p, h6{
  font-size: 0.875rem;
}
