* {
    box-sizing: border-box;
}
// Small screens
@media only screen {
    .color {
        width: 100%;
        background-color: $red;
    }

    ul > li {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    header {
        .row {
            align-items: center;

            &:last-of-type {
                border-top: 1px solid $light-grey;
            }
        }

        .header-info {
            margin: 1.5rem 0;

            .header-contact {
                text-align: right;
            }
        }

        .navigation {
            padding: 0.875rem 0;

            .main-nav {
                ul {
                    li {
                        a {
                            padding-right: 2rem;
                            display: inline-block;
                        }
                    }
                }
            }

            input {
                border: 0;
            }

            .header-search {
                text-align: right;
            }
        }
    }

    #hero {
        .row {
            border-top: 5px double $red;
            box-shadow: 0 -5px 0 $red;
            color: $white;
            min-height: 100vh;
            background: url("../img/hero.jpg") no-repeat center center;
            background-size: cover;
            align-items: center;
        }

        .row div {
            padding: 2.5rem 5rem 1rem;
            background-color: transparentize(black, .3);
        }

        button {
            background-color: $red;
            color: $white;
            line-height: 3;
            border: 0;
            text-transform: uppercase;
            margin: 1rem 0;
            padding: 0 1rem;
        }
    }

    .article,
    .shoe-header {
        img {
            width: 100%;
        }
    }

    #blog {
        .row > div {
            margin-top: 100px;
        }
    }

    #products {
        margin-top: 1.250rem;

        .shoe-item {
            margin-top: 1.875rem;

            .shoe-header {
                border: 1px solid $light-grey;
                padding: 0.875rem;
            }

            .shoe-content {
                padding: 1.250rem;
                border-left: 1px solid $light-grey;
                border-right: 1px solid $light-grey;
                border-bottom: 1px solid $light-grey;

                .shoe-details {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid $light-grey;
                    margin-top: 0.625rem;
                    padding-top: 0.750rem;
                }
            }

            .shoe-buy {
                background-color: $red;

                a {
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 3rem;
                    width: 100%;
                    display: block;
                }

                a:hover {
                    background-color: $light-red;
                }
            }
        }
    }

    .wrapper-red {
        margin-top: 2.125rem;
    }

    #newsletter {
        .row {
            align-items: center;
            padding: 2rem 0;
        }

        button {
            background-color: $light-red;
            color: $white;
            margin-left: 1rem;
        }

        input {
            width: 15rem;
        }

        button,
        input {
            line-height: 3;
            border: 0;
            text-transform: uppercase;
            padding: 0 1rem;
        }

        .newsletter-input {
            text-align: right;
        }
    }

    footer {
        padding: 1.5rem 0;
        background-color: $dark-grey;

        h2 {
            margin-bottom: 1.250rem;
        }

        .blog-entry {
            margin-bottom: 1.750rem;
        }
    }

    .detail-item {
        .detail-item-small {
            img {
                width: 100%;
                border: 1px solid $light-grey;
            }
        }

        .detail-item-selected {
            border: 1px solid $light-grey;
        }

        .detail-tabs {
            -webkit-column-count: 2;
            /* Chrome, Safari, Opera */
            -moz-column-count: 2;
            /* Firefox */
            column-count: 2;
        }

        .detail-item-description {
            input {
                width: 100%;
                line-height: 3;
            }

            .detail-button {
                margin: 1.250rem 0;

                a {
                    font-size: 1.5rem;
                    color: $white;
                    background-color: $red;
                    text-transform: uppercase;
                    padding: 0 1.50rem;
                }
            }
        }


    }

    .text-align-right {
        text-align: right;
    }
}
/* Define mobile styles */
@media only screen and (max-width: 40em) {}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
// Large screens
@media only screen and (min-width: 40.063em) {}
/* min-width 1025px, large screens */
@media only screen and (min-width: 40.063em) and (max-width: 90em) {}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
