* {
    box-sizing: border-box;
}
// Small screens
@media only screen {
    body {
        display: flex column;
        justify-content: center;

        .wrapper-full {
            display: flex;
            justify-content: center;

            .wrapper {
                width: 1170px;
            }

        }
        .wrapper-dark{
          background-color: $dark-grey;
        }

        .wrapper-red{
          background-color: $red;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > * {
                flex: 0 1 auto;
            }

            .small-1 {
                flex: 0 0 calc((100% - (11 * 30px)) / 12);
            }

            .small-2 {
                flex: 0 0 calc((100% - (5 * 30px)) / 6);
            }

            .small-3 {
                flex: 0 0 calc((100% - (3 * 30px)) / 4);
            }

            .small-4 {
                flex: 0 0 calc((100% - (2 * 30px)) / 3);
            }

            .small-5 {
                flex: 0 0 41.66%;
            }

            .small-6 {
                flex: 0 0 calc((100% - (1 * 30px)) / 2);
            }

            .small-7 {
                flex: 0 0 58.33%;
            }

            .small-8 {
                flex: 0 0 66.66%;
            }

            .small-9 {
                flex: 0 0 75%;
            }

            .small-10 {
                flex: 0 0 83.33%;
            }

            .small-11 {
                flex: 0 0 91.66%;
            }

            .small-12 {
                flex: 0 0 100%;
            }
        }
    }
}
/* Define mobile styles */
@media only screen and (max-width: 40em) {}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
// Large screens
@media only screen and (min-width: 40.063em) {}
/* min-width 1025px, large screens */
@media only screen and (min-width: 40.063em) and (max-width: 90em) {
    body {
        .row {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            & > * {
                flex: 0 1 auto;
            }

            .large-1 {
                flex: 0 0 calc((100% - (11 * 30px)) / 12);
            }

            .large-2 {
                flex: 0 0 calc((100% - (5 * 30px)) / 6);
            }

            .large-3 {
                flex: 0 0 calc((100% - (3 * 30px)) / 4);
            }

            .large-4 {
                flex: 0 0 calc((100% - (2 * 30px)) / 3);
            }

            .large-5 {
                flex: 0 0 calc(41.66% - 30px);
            }

            .large-6 {
                flex: 0 0 calc((100% - (1 * 30px)) / 2);
            }

            .large-7 {
                flex: 0 0 calc(58.33% - 30px);
            }

            .large-8 {
                flex: 0 0 calc(66.66% - 30px);
            }

            .large-9 {
                flex: 0 0 calc(75% - 30px);
            }

            .large-10 {
                flex: 0 0 calc(83.33% - 30px);
            }

            .large-11 {
                flex: 0 0 calc(91.66% - 30px);
            }

            .large-12 {
                flex: 0 0 100%;
            }
        }
    }
}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
